:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.review-container{
  border-radius: 10px;
  background: #242424;
  box-shadow: inset 5px 5px 10px #171717,
            inset -5px -5px 10px #313131;
  padding: 20px;
  /* display: grid;
  grid-template-columns: auto auto auto auto; */
  display:flex;
  flex-wrap: wrap;


}
.review-card{
  border-radius: 5px;
  background: linear-gradient(145deg, #272727, #202020);
  box-shadow:  5px 5px 10px #171717,
             -5px -5px 10px #313131;
  padding: 20px;
  margin: 10px;
  width: 25%;

}